@import url('https://fonts.googleapis.com/css2?family=Podkova&display=swap');

form {
  background: #f0fff0;
  border: 1px solid #eee;
  display: flex;
  flex-direction: column;
  font-family: 'Podkova', serif;
  gap: 20px;
  justify-content: center;
  margin: auto;
  max-width: 400px;
  min-height: 50vh;
  padding: 30px;
}

h1 {
  text-align: center;
}

input {
  box-sizing: border-box;
  font-family: 'Podkova', serif;
  font-size: 15px;
  height: 40px;
  padding: 5px 10px;
}

button {
  background: indigo;
  border: none;
  color: aliceblue;
  cursor: pointer;
  font-family: 'Podkova', serif;
  font-size: 20px;
  height: 40px;
  margin: auto;
  width: 100%;
}
