* {
  margin: 0;
  padding: 0;
}

.Display__Cards {
  background-image: url(../../../assets/images/multiple.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}
