.HomePage {
  margin: 0;
  padding: 0;
}

.NavBar {
  background: purple;
  /* position: fixed;
  top: 0;
  width: 100%; */
}

.attributes {
  display: flex;
  gap: 10px;
  font-size: 28px;
  justify-content: center;
  padding: 30px;
}

a {
  color: wheat;
  text-decoration: none;
}

.Left {
  left: 10%;
  position: absolute;
  top: 2%;
}

.Right {
  border-bottom: 1px solid #ccc;
  display: flex;
  font-size: 20px;
  position: absolute;
  right: 5%;
  top: 2%;
}

.login {
  border-right: 1px solid #ccc;
  padding: 5px 20px 10px 20px;
}

.login:hover {
  background: #ccc;
  color: #fff;
}

.signup {
  padding: 5px 20px;
}

.signup:hover {
  background: #ccc;
  color: #000;
}

.Display {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.Side_Bar {
  background: violet;
  color: #fff;
  left: 0;
  position: relative;
  width: 25%;
}

.Container {
  cursor: pointer;
  display: flex;
  font-size: 15px;
  margin-bottom: 10px;
  padding-left: 40px;
  position: relative;
}

input {
  cursor: pointer;
  width: 20px;
}

.checkbox {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: center;
}
