.NavBar {
  background: purple;
}

.NavBar__attributes {
  display: flex;
  gap: 10px;
  font-size: 28px;
  justify-content: center;
  padding: 30px;
}

a {
  color: wheat;
  text-decoration: none;
}

.Left {
  left: 10%;
  position: absolute;
  top: 2%;
}

.Right {
  border-bottom: 1px solid #ccc;
  display: flex;
  font-size: 20px;
  position: absolute;
  right: 5%;
  top: 2%;
}

.login {
  border-right: 1px solid #ccc;
  padding: 5px 20px 10px 20px;
}

.login:hover {
  background: #ccc;
  color: #fff;
}

.signup {
  padding: 5px 20px;
}

.signup:hover {
  background: #ccc;
  color: #000;
}
